/* Importer la police Inter depuis Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

/* Variables for colors in my project */
:root {
	--dark-void: #151419;
	--gluon-grey: #1b1b1e;
	--dark-grey: #222225;
	--slate-grey: #262626;
	--dusty-grey: #878787;
	--snow: #fbfbfb;
	--liquid-lava: #ff710d;
	--azur-blue: #0d9bff;
}

/* Variables pour les vw a partir des pixels*/
:root {
	--0px: 0vw;
	--2px: 0.104vw;
	--4px: 0.208vw;
	--8px: 0.417vw;
	--10px: 0.521vw;
	--12px: 0.625vw;
	--16px: 0.833vw;
	--20px: 1.042vw;
	--24px: 1.25vw;
	--28px: 1.458vw;
	--30px: 1.563vw;
	--32px: 1.667vw;
	--36px: 1.875vw;
	--40px: 2.083vw;
	--44px: 2.292vw;
	--50px: 2.604vw;
	--54px: 2.813vw;
	--60px: 3.125vw;
	--64px: 3.333vw;
	--70px: 3.646vw;
	--80px: 4.167vw;
}

/* Variables pour les borders radius */
:root {
	--radius-xs: var(--2px);
	--radius-sm: var(--4px);
	--radius-md: var(--8px);
	--radius-mlg: var(--12px);
	--radius-lg: var(--16px);
	--radius-xlg: var(--20px);
	--radius-xl: var(--24px);
	--radius-xxl: var(--28px);
	--radius-xxxl: var(--32px);
}

/* Variables pour la tailles des icons & img */
:root {
	--icon-12: 0.833vw;
	--icon-16: 1.111vw;
	--icon-24: 1.667vw;
	--icon-28: 1.944vw;
	--icon-32: 2.222vw;
	--icon-36: 2.5vw;
	--icon-40: 2.778vw;
	--icon-44: 3.056vw;
	--icon-56: 3.889vw;
	--icon-100: 6.944vw;
}

/* Appliquer la police Inter à tout le document */
html,
body {
	height: 100%;
	margin: 0;
	font-family: "Inter", sans-serif;
	background-color: var(--dark-void);
}

body {
	padding: var(--12px) var(--24px);
}

* {
	box-sizing: border-box;
}

.main {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: var(--16px);
}

.app {
	display: flex;
	height: 100%;
	width: 100%;
}

.btn-icon,
.btn-icon-orange,
.btn-icon-change {
	display: inline-flex;
	align-items: center;
	padding: var(--8px) var(--16px);
	background-color: var(--snow);
	border: var(--snow) solid var(--4px);
	border-radius: var(--20px);
	cursor: pointer;
	transition: background-color 0.3s, color 0.3s, border 0.3s;
	font-size: var(--16px);
	font-weight: 600;
	gap: var(--8px);
}

.btn-icon-change {
	position: absolute;
	right: var(--16px);
	top: 50%;
	transform: translateY(-50%);
	font-size: var(--12px);
	padding: var(--4px) var(--8px);
	border-radius: var(--8px);
	border: var(--snow) solid var(--2px);
}

.btn-icon-orange {
	background-color: var(--liquid-lava);
	border: var(--liquid-lava) solid var(--4px);
	color: var(--snow);
}

.btn-icon:hover,
.btn-icon-orange:hover {
	background-color: var(--liquid-lava);
	border: var(--liquid-lava) solid var(--4px);
	color: var(--snow);
}

.btn-icon-orange:hover {
	background-color: var(--snow);
	border: var(--snow) solid var(--4px);
	color: var(--liquid-lava);
}

.btn-icon-change:hover {
	background-color: var(--liquid-lava);
	border: var(--liquid-lava) solid var(--2px);
	color: var(--snow);
}

.btn-icon:active,
.btn-icon-orange:active {
	transition: border 0s;
	border: var(--snow) solid var(--4px);
}

.btn-icon-orange:active {
	border: var(--liquid-lava) solid var(--4px);
}

.btn-icon-change:active {
	transition: border 0s;
	border: var(--snow) solid var(--2px);
}

.btn-icon svg,
.btn-icon-orange svg {
	width: var(--32px);
	height: var(--32px);
	fill: currentColor;
}

.formInputFrame {
	width: 100%;
	height: 2.344vw;
	display: flex;
	position: relative;
}

.inputFrame {
	width: 100%;
	height: 100%;
	padding: var(--12px);
	border: #878787 var(--2px) solid;
	border-radius: var(--16px);
	background-color: transparent;
	color: #fbfbfb;
	font-size: var(--16px);
	box-shadow: none;
}

.inputFrame:focus {
	border: #ff710d var(--2px) solid;
	background-color: transparent;
	outline: none;
	box-shadow: none;
	/* Supprime l'ombre de focus de Bootstrap */
	color: #fbfbfb;
}

.inputLabel {
	font-size: var(--16px);
	position: absolute;
	left: var(--16px);
	top: 50%;
	transform: translateY(-50%);
	color: var(--snow);
	transition: 0.3s;
	pointer-events: none;
	background-color: var(--dark-void);
}

.eyeIcon {
	width: var(--20px);
	position: absolute;
	right: var(--16px);
	top: 50%;
	transform: translateY(-50%);
	cursor: pointer;
	display: none;
}

.inputFrame:not(:placeholder-shown)~.eyeIcon {
	display: block;
}

.inputFrame:focus~.inputLabel,
.inputFrame:not(:placeholder-shown)~.inputLabel {
	top: 0;
	transform: translateY(-50%) scale(0.8);
	left: var(--8px);
	padding: var(--4px) var(--12px);
	background-color: #151419;
	color: #ff710d;
	font-weight: 700;
}

.inputFrame:-webkit-autofill,
.inputFrame:-webkit-autofill:hover,
.inputFrame:-webkit-autofill:focus {
	-webkit-text-fill-color: #fbfbfb;
	-webkit-box-shadow: 0 0 0px 1000px var(--dark-void) inset;
	transition: background-color 5000s ease-in-out 0s;
}

.language-switcher {
	position: absolute;
	/* Position it relative to the headerMenuSection */
	top: 10px;
	right: 60px;
	display: flex;
	gap: 10px;
}

.language-switcher img {
	width: 30px;
	height: auto;
	cursor: pointer;
}

.language-switcher img:hover {
	opacity: 0.8;
}

.headerMenuSection {
	position: relative;
	/* Make this the reference point for absolute positioning */
}
