.headerNavBar {
  background-color: var(--liquid-lava);
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: var(--16px);
  padding: var(--8px) var(--24px);
  border-radius: var(--24px);
}

/*.headerMenuSection {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}*/

.iconMenu {
  height: 2.656vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  cursor: pointer;
}

.icon {
  width: var(--36px);
  height: var(--36px);
}

.navLabel {
  opacity: 0;
  overflow: hidden;
  transition: opacity 0.5s ease, max-height 0.5s ease;
  font-size: 0.625vw;
  font-weight: 700;
  max-height: 0;
  color: var(--snow);
}

.navLabel.active {
  opacity: 1;
  max-height: 1.5vw;
}

.logout {
  display: flex;
  position: absolute;
  left: 96%;
  top: 4%;
  cursor: pointer;
  flex-direction: column;
}

.logout-text {
  display: flex;
  /* position: absolute; */
  font-family: "Inter", sans-serif;
  font-size: var(--8px);
  font-weight: 600;
  color: var(--liquid-lava);
  margin-bottom: 20%;
  top: 60%;
  opacity: 0;
  transform: translateY(-10px);
  transition: all 0.3s ease;
}

.logout:hover .logout-icon {
  transform: scale(1.1);
}

.logout:hover .logout-text {
  opacity: 1;
  transform: translateY(0);
}