* {
  box-sizing: border-box;
}

.profilSection {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-grow: 1;
  background-color: var(--gluon-grey);
  border-radius: var(--radius-lg);
  gap: var(--16px);
  padding: var(--16px);
}

.accountSection {
  flex-grow: 1;
  height: 100%;
  border-radius: var(--radius-lg);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: var(--16px);
}

.avatarSection {
  width: 100%;
  height: 17.292vw;
  border-radius: var(--radius-lg);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: var(--dark-grey);
  gap: var(--24px);
}

.manageProfilSection {
  width: 100%;
  height: 100%;
  border-radius: var(--radius-lg);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: var(--16px);
}

.informationSection {
  width: 100%;
  height: 100%;
  border-radius: var(--radius-lg);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2.vw;
  background-color: var(--dark-grey);
}

.matchSection {
  width: 32.847vw;
  height: 100%;
  border-radius: var(--radius-lg);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: var(--16px);
}

.matchHistory {
  width: 100%;
  height: 100%;
  flex-grow: 1;
  background-color: var(--dark-grey);
  border-radius: var(--radius-lg);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.matchStats {
  width: 100%;
  height: 22.903vw;
  background-color: var(--dark-grey);
  border-radius: var(--radius-lg);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.playerProfilFrame {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: var(--16px);
}

.avatarFrame {
  border: var(--dusty-grey) solid var(--4px);
  border-radius: 100%;
  width: 7.552vw;
  height: 7.552vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatarImg {
  width: 5.208vw;
  height: 5.208vw;
}

.playerFrame {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--12px);
  width: 10.833vw;
  border: var(--dusty-grey) solid var(--4px);
  padding: var(--8px) var(--16px);
  border-radius: var(--16px);
  font-size: var(--16px);
  color: var(--snow);
  font-weight: 600;
}

.inputForChanges,
.onlineFriendsFrame {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--16px);
  flex-direction: column;
  width: 15.625vw;
}

.inputLabel {
  background-color: var(--dark-grey);
}

.inputFrame:focus ~ .inputLabel,
.inputFrame:not(:placeholder-shown) ~ .inputLabel {
  background-color: var(--dark-grey);
}

.settingsTitles,
.friendsTitle {
  font-size: var(--32px);
  font-weight: 600;
  color: var(--snow);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modifyButtonsFrame {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: var(--24px);
}

.greenDot {
  width: 1.041vw;
  height: 1.041vw;
  border-radius: 100%;
  background-color: limegreen;
}

.friendsAndNickname {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--16px);
}

.matchHistory {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: var(--36px);
}

.matchResume {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--12px);
}

.scorePlayer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--40px);
  width: var(--40px);
  border: var(--dusty-grey) solid var(--4px);
  border-radius: var(--16px);
  color: var(--snow);
}

.separatorMatch {
  font-size: 600;
  color: var(--snow);
}

.resultLabel {
  font-size: var(--16px);
  font-weight: 600;
  color: var(--liquid-lava);
}

.avatarHistory {
  height: var(--36px);
  width: var(--36px);
}

.matchStats {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--16px);
  flex-direction: column;
}

.statsFrame {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: var(--12px);
}

.statName,
.statNumber {
  width: 10.833vw;
  height: var(--40px);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: var(--dusty-grey) solid var(--4px);
  border-radius: var(--16px);
  padding-left: var(--16px);
  color: var(--snow);
  font-weight: 600;
}

.statNumber {
  width: 6.25vw;
}
