<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>TRANSCENDENCE</title>
		<link
		href="https://fonts.googleapis.com/css2?family=Inter&display=swap"
		rel="stylesheet"
		/>
		<link href="/static/css/global.css" rel="stylesheet" />
		<link href="/static/css/header.css" rel="stylesheet" />
	</head>
	
	<body class="main">
		<div class="headerMenuSection" id="navbarContainer">
			<div class="headerNavBar">
				<div class="iconMenu">
					<img class="icon" id="home" src="/static/assets/icons/home.svg" />
					<div class="navLabel">home</div>
				</div>
				<div class="iconMenu">
					<img
					class="icon"
					id="custom"
					src="/static/assets/icons/sliders.svg"
					/>
					<div class="navLabel">custom</div>
				</div>
				<div class="iconMenu">
					<img class="icon" id="clash" src="/static/assets/icons/target.svg" />
					<div class="navLabel">clash</div>
				</div>
				<div class="iconMenu">
					<img class="icon" id="profil" src="/static/assets/icons/grid.svg" />
					<div class="navLabel">profil</div>
				</div>
        <div class="iconMenu">
			<img
            class="icon"
            id="online"
            src="/static/assets/icons/user-plus.svg"
			/>
			<div class="navLabel">online</div>
        </div>
        <div class="iconMenu">
			<img
            class="icon"
            id="settings"
            src="/static/assets/icons/settings.svg"
          />
          <div class="navLabel">settings</div>
        </div>
      </div>
    </div>

    <div class="app" id="app"></div>

	<div class="language-switcher" style="margin-top: 20px;">
		<a href="?lang=en"><img src="/static/assets/flags/flag-en.svg" alt="English" title="English" /></a>
		<a href="?lang=fr"><img src="/static/assets/flags/flag-fr.svg" alt="Français" title="Français" /></a>
		<a href="?lang=es"><img src="/static/assets/flags/flag-es.svg" alt="Español" title="Español" /></a>
		<a href="?lang=swe"><img src="/static/assets/flags/flag-swe.svg" alt="Svenska" title="Svenska" /></a>
	</div>

    <script src="/static/spa/language.js"></script>
    <script src="/static/spa/app.js"></script>
    <script src="/static/spa/navBar.js"></script>
  </body>
</html>
