<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TRANSCENDENCE</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Inter&display=swap"
      rel="stylesheet"
    />
    <link href="/static/css/global.css" rel="stylesheet" />
    <link href="/static/css/header.css" rel="stylesheet" />
  </head>

  <body class="main">
    <div class="headerMenuSection" id="navbarContainer">
      <div class="headerNavBar">
        <div class="iconMenu">
          <img class="icon" id="home" src="/static/assets/icons/home.svg" />
          <div class="navLabel" data-translate="navBar.home">home</div>
        </div>

        <div class="iconMenu">
          <img class="icon" id="clash" src="/static/assets/icons/target.svg" />
          <div class="navLabel" data-translate="navBar.tournament">clash</div>
        </div>
        <div class="iconMenu">
          <img class="icon" id="profil" src="/static/assets/icons/grid.svg" />
          <div class="navLabel" data-translate="navBar.profile">profile</div>
        </div>
        <div class="iconMenu">
          <img
            class="icon"
            id="settings"
            src="/static/assets/icons/settings.svg"
          />
          <div class="navLabel" data-translate="navBar.settings">settings</div>
        </div>
      </div>
      <div class="logout">
        <img
          class="logout-icon"
          id="logout-icon"
          src="/static/assets/icons/logout.svg"
        />
        <span class="logout-text" data-translate="navBar.logout">Log out</span>
      </div>
    </div>

    <div id="popupOverlay"></div>
    <div class="popupGlobal" id="popupModal">
      <div class="popupTitle">
        <img
          src="/static/assets/icons/popup.svg"
          class="warning-icon"
          alt="Warning Icon"
        />
        <span>Erreur</span>
      </div>
      <div class="popupTexte">JPG / JPEG / PNG format</div>
      <button id="popupCloseBtn" class="popupClose">OK</button>
    </div>

    <div id="infoPopup" class="popupGlobal" style="display: none">
      <div class="popupTexte">Ceci est une notification.</div>
      <button class="popupClose" onclick="hideInfoPopup()">OK</button>
    </div>

    <div class="app" id="app"></div>

    <script src="/static/spa/language.js"></script>
    <script src="/static/spa/webSocketManager.js"></script>
    <script src="/static/spa/app.js"></script>
    <script src="/static/spa/navBar.js"></script>
    <script src="/static/spa/popup.js"></script>
  </body>
</html>

<template id="gameInvitationTemplate">
  <div class="game-invitation-modal">
    <div class="game-invitation-content">
      <div class="game-invitation-header">
        <h2 data-translate="invite.title">Game Invitation</h2>
        <span class="close-invitation">&times;</span>
      </div>
      <div class="game-invitation-body">
        <div class="inviter-info">
          <img class="inviter-avatar" src="" alt="Inviter avatar" />
          <span class="inviter-name"></span>
        </div>
        <div class="game-settings">
          <h3 data-translate="invite.setting">Game Settings:</h3>
          <div class="settings-details">
            <p> <span class="game-type"></span></p>
            <p data-translate="invite.mode">Mode: 1 VS 1</p>
          </div>
        </div>
      </div>
      <div class="game-invitation-footer">
        <button class="decline-btn" data-translate="invite.decline">Decline</button>
        <button class="accept-btn" data-translate="invite.accept">Accept</button>
      </div>
    </div>
  </div>
</template>
